#about{
margin:20px;
background: rgb(48, 79, 254);
color:white;
  box-shadow: var(--shadow);
  display: inline-block;
  border-radius: 40px;

  i {
        font-size: 40px;
        color:black;
      }
      font-family: var(--font2);
    
      .info {
        margin: 20px;
        .slogan {
          font-size: 18px;
        }
        .title {
          font-size: 28px;
          font-family: var(--font1);
        }
        ul {
          list-style: none;
          padding: 0 10px;
          li {
            margin: 20px 0;
            i {
              margin: 10px;
            }
          }
        }
      }
    
      .contact {
        margin: 20px;
        margin-top: 50px;
        .title {
          font-size: 20px;
          font-family: var(--font2);
        }
        i {
          margin: 10px;
        }
      }
    
     
    
      .email {
        color:white;
      }

      @media screen and (min-width: 1000px) {
          margin: 20px 120px;
      }

}