#filter-nav{

  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0,0,0,.5);

  border-radius: 40px 40px 0 0;
    position: fixed;
    text-transform: uppercase;
    z-index: 90;
    bottom: 0;
    color: white;
    left: 0;
    height: 135px;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
    right: 0;
    margin: auto;
    white-space: nowrap;
    overflow-x: scroll;
    font-family: var(--font1);

    :first-child{
      margin-left: 20px;
    }
    :last-child{
      margin-right: 20px;
    }
  
    div {
      cursor: pointer;
      display: inline-block;
      margin: 15px 0px;
      padding: 5px 15px;
      transition: 0.3s;
      &.selected {
        color:var(--selected);
      }
  
      :first-child {
        margin-left: 20px;
      }
      :last-child {
        margin-right: 20px;
      }
    }
}