#item-nav{

  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  background: rgba(0,0,0,.5);

  font-family: var(--font1);
  text-transform: uppercase;
  border-radius: 40px 40px 0 0;
  width: 100%;
  padding-bottom: 30px;
  right: 0;
  max-width: 500px;
  display: grid;
 color:white;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding-bottom:100px;
  margin: auto;
  left: 0;
  height: 50px;

  .action {
    cursor: pointer;
    margin: 20px;
    i {
      font-size: 30px;
    }
  }


   
  @media screen and (min-width: 1000px) {
      box-shadow: var(--shadow);
      transform: none;
      right: unset;
      padding: 0px;
      grid-template-columns: 1fr;
      border-radius: 50px;
      left: 120px;
      width: 80px;
      height: auto;
      bottom: 20px;
      .action{
        margin:10px;
      }

}


}