#restaurant-items{
    .category-name {
          margin: 20px;
          font-size: 24px;
          text-transform: uppercase;
        }
      
        .items {
          box-shadow: var(--inset);
          white-space: nowrap;
          overflow-x: scroll;
        }
      
        .item {
          cursor: pointer;
          margin: 20px;
          overflow: hidden;
          margin-right: 0;
      background-color: black;
          display: inline-block;
          border-radius: 20px;
          height: 250px;
          width: calc(100% - 100px);
          background-size: cover;
                box-shadow: var(--shadow);
         
                opacity: 0;
                transition: .3s;
                transform: scale(.8);
                .item-name{
                  position: absolute;
                  bottom: 0;left:0;
                  font-size: 20px;
                  color:white;
                  padding:10px 20px;
                  box-sizing: border-box;
                  width: 100%;
                  background: rgba(0,0,0,.25);
                  backdrop-filter: blur(10px); 
                  border-radius: 0 0 20px 20px;
                  -webkit-backdrop-filter: blur(10px);
                }
                &.io{
                  transform: scale(1);
                  opacity:1;
                }
  
                &:last-child {
                  margin-right: 20px;
                }
        }
      
      
  
  
        @media screen and (min-width: 1000px) {
          box-shadow: var(--inset);
          border-radius: 40px;
          position: absolute;
          top: 20px;
          height: calc(100% - 40px);
          box-sizing: border-box;
          overflow: scroll;
          padding-top: 60px;
          left: 380px;
          width: calc(100% - 400px);
            .item{
              width:300px;
            }
    
          
        }
  
  }
