#item{
overflow: hidden;

  #img {
        width: 100%;
        height: 300px;
        background-size: cover;
      }
      .details {
        position: relative;
        padding: 20px;
  
      }
      .name {
        font-size: 24px;
      }
      .price {
        font-size: 20px;
        font-family: var(--font2);
        margin: 10px;
      }
      .sides,
      .toppings,
      .dressings {
        margin: 10px 20px;
        font-size: 20px;
        .side,
        .dressing,
        .topping {
          font-family: var(--font2);
          display: inline-block;
          box-shadow: var(--shadow);
          padding: 5px 10px;
          border-radius: 20px;
          margin: 5px;
          font-size: 14px;
        }
      }
      .info {
        margin: 10px 20px 0 20px;
        font-family: var(--font2);
      }

      @media screen and (min-width: 1000px) {

        position: absolute;
        left: 360px;
        width: 400px;
        margin: 20px;
        box-shadow: var(--shadow);
        border-radius: 40px;
          #img{
            border-radius: 40px;
            box-shadow: var(--shadow);
          }
        
      }
    
}