#restaurant{

  #item-info {
    margin: 20px;
    box-shadow: var(--shadow);
    display: inline-block;
    border-radius: 30px;
    padding: 10px 20px;
  }
  .logo {
    max-width: 200px;
  }

  .actions {
        .action {
          display: block;
          i {
            color: #6200ea;
            font-size: 30px;
            margin: 10px;
          }
        }
      }

      .not-found {
            text-align: center;
            font-family: var(--font2);
            margin: 40px;
            i {
              font-size: 40px;
              color: #d50000;
              margin: 10px;
              display: block;
            }
          }
          @media screen and (min-width: 1000px) {

      #item-info{
        position: absolute;
      }
        }

}

