#restaurant{
  #item-info {
    margin:20px;
    box-shadow: var(--shadow);
    display: inline-block;
    border-radius: 30px;
    padding: 10px 20px;
  }
  .logo {
    max-width: 200px;
  }

  .actions {
        .action {
          display: block;
          i {
            color: #6200ea;
            font-size: 30px;
            margin: 10px;
          }
        }
      }

      .not-found {
            font-family: var(--font2);
            margin: 20px;
            i {
              font-size: 40px;
              color: #d50000;
            }
          }
          @media screen and (min-width: 1000px) {
            margin:0 100px;
        }

}

