#saved{
  box-shadow: var(--inset);
  border-radius: 40px;
  position: relative;
  margin: 20px;
  height: 400px;
  overflow:scroll;
    .item {
      box-shadow:var(--shadow);
    overflow: hidden;
    position: relative;
    color: var(--light);
    border-radius: 20px;
    height: 100px;
    width: 320px;
    margin: 20px auto;


    .food-img {
      height:100px;
      width: 150px;
      border-radius: 20px 0px 50px 20px;
    }

    .logo {
      position: absolute;
      height: 34px;
      filter: invert(1);
      right: 50px;
      top: 10px;
    }

    .name {
      text-align: right;
      width: 150px;
      overflow: hidden;
      position: absolute;
      margin: 10px 15px;
      bottom: 0px;
      right: 0px;
    }
    .delete {
      font-size: 20px;
      position: absolute;
      top: 0;
      right: 0;
      background: black;
      color: white;
      opacity: 0.5;
      border-radius: 0 20px;
      padding: 10px;

      :active {
        transform: none;
      }
    }
    .link {
      position: absolute;
      left: 50%;
      top: 10px;
      font-size: 30px;
    }
  }

  .saved-notice {
    position: absolute;top:0;left:0;margin:20px;
    font-family: var(--font2);
    margin: 20px;
    i {
      font-size: 40px;
      color: #d50000;
    }

  }

  @media screen and (min-width: 1000px) {
    width: calc(100% - 140px);
    margin: 20px 120px;
    .item{
      margin:20px;
      display: inline-block;
    }
  }
  

}