#admin{
    user-select:text;
    input,textarea{
        border: none;
        box-shadow: var(--inset);
        margin: 5px 10px;
        border-radius: 20px;
        padding: 5px 10px;
        outline: none;
      }
      button{
          margin: 5px 10px;
          border: none;
          box-shadow: var(--shadow);
          border-radius: 20px;
          cursor: pointer;
          text-transform: uppercase;
          outline: none;
          padding: 5px 10px;
        }

        &::after {
          content: "";
          display: block;
          height: 200px;
        }
      }


#json-form{
  margin:20px;
  button{
    margin:10px 0;
  }
  textarea{
    display: block;
  }
}




#theme{
  margin:20px;
  max-width: 400px;
  box-sizing: border-box;
  box-shadow:var(--shadow);
  padding:10px 20px;
  border-radius: 20px;
  div{
    cursor: pointer;
    display:inline-block;
    height:30px;width:30px;
    margin:5px;
    transition: .3s;
    border-radius: 50%;
  &.selected{
    box-shadow: var(--shadow);
    box-sizing: border-box;
    border:5px solid white;
  }
  }
}



.selected{
  background: var(--selected);
  color: white;
}

#restaurant-inputs{
  margin:20px;
  box-sizing: border-box;
  box-shadow:var(--shadow);
  padding:20px;
  border-radius: 20px;
  max-width: 400px;
}



@media screen and (min-width: 1000px) {
  #admin{
    position: relative;
    margin: 20px;
    margin-left: 120px;
    box-shadow: var(--inset);
    height: calc(100vh - 40px);
    border-radius:40px;
    overflow: scroll;
  }
}

