
#admin{
  margin:20px;
  user-select:text;
}

#json{
  margin:20px;
}

#admin-items{
  .item{
    box-shadow: var(--shadow);
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
  }
}
#theme{
  margin:20px;
  div{
    display:inline-block;
    height:40px;width:40px;
  }
  i{
    font-size: 30px;
    position: absolute;
    margin: 5px;
    color: white;
  }
}

#suggestions{
  .suggested{
    .suggestion{
div{
  display: inline-block;
  margin:5px 10px;
}
    }
  }
}


@media screen and (min-width: 1000px) {
  #admin{
    position: relative;
    margin-left: 120px;
  }
  #admin-item-modal{
    position: absolute;
    top:0;left:0;
    width: 100%;
    background:rgba(0,0,0,.25);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
  }
  #admin-item{
        width: 400px;
        margin: 20px auto;
  }
}

