 
  @media screen and (min-width: 1000px) {

    #nav{
          left: 0px;
          right: unset;
          padding: 10px 0 10px 0;
          width: 80px;
          margin: 20px;
          height: auto;
          grid-template-columns: 1fr !important;
          border-radius: 60px;
          box-shadow: var(--shadow);
      
          .page-link{
            margin:0;
            margin-bottom:5px;
          }


        }


        #home{
          margin:40px 120px;
    padding: 20px;
    border-radius: 40px;
        }

        #restaurants{
          display: grid;
    grid-template-columns: repeat(2, 300px);
        }

        #item-info{
          position: absolute;
          margin: 0 20px;
        }

        #items{
          box-shadow: var(--inset);
          border-radius: 40px;
          position: absolute;
          top: 100px;
          height: calc(100% - 120px);
          overflow: scroll;
          left: 300px;
          width: calc(100% - 320px);
          .item{
            width:300px;
          }
          .items{
            box-shadow: none;
          }
        }

        #filter-nav{
          box-shadow: var(--shadow);

          position: fixed;
    top: 20px;
    bottom: unset;
    position: fixed;
    top: 20px;
    width: calc(100% - 320px);
    border-radius: 40px;
    bottom: unset;
    left: 300px;
    right: unset;
    margin: 0px;
    height: 60px;
    transform: none;
        }

        #saved{
          display: grid;
          grid-template-columns: repeat(2, 400px);
          position: absolute;
          left: 100px;
          margin: 20px;
          border-radius: 40px;
        }

        #about{
          margin: 40px 120px;
        }

        #item{
          position: absolute;
          left: 300px;
          width: 400px;
          margin: 20px;
          box-shadow: var(--shadow);
          border-radius: 30px;
          #img{
            border-radius: 30px;
            box-shadow: var(--shadow);
          }
        }

        #item-nav{
          box-shadow: var(--shadow);
          transform: none;
          right: unset;
          padding: 0px;
          grid-template-columns: 1fr;
          border-radius: 50px;
          left: 120px;
          width: 80px;
          height: auto;
          bottom: 20px;
          .action{
            margin:10px;
          }
        }

  }
