#admin-item{
  box-shadow: var(--shadow);
  position: relative;
  box-sizing: border-box;
  margin: 20px;
  padding: 20px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 20px;
  button{
    font-size: 10px;
  }

  #suggestions{
    margin:10px;
}

  #item-buttons{
    text-align: right;
      }
    
      #save-item,#delete-item{
        font-size: 30px;
        margin:10px;
      }

      #close{
        position: absolute;
        right: 0;
        padding: 5px 10px;
        top: 0;
        border-radius: 0 20px;
        border: none;
        box-shadow: var(--inset);
      }
    }

    @media screen and (min-width: 1000px) {
  
      #admin-item{
        position: fixed;
        right: 0;
        top: 0;
        width: 400px;
      }

    }